body {
  background-color: maroon;
}

.title {
  font-family: 'Roboto';
  text-align: center;
  background-color: #00004d;
  padding: 2em;
  padding-bottom: 0;
}

.titleContent {
  color: white;
  padding-top: 20%;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 2.5rem;
  font-stretch: 2em;
  text-decoration:underline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }


}
